body {
  background-image: url('IMG_3560.jpg'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
  margin: 0;
  padding: 50px;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    padding: 20px;
  }

  h1, h2, p {
    font-size: 1.5rem;
}


